@import url(reset.css);
@import url(login.css);
@import url(friend.css);
@import url(chat.css);

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Noto+Sans+KR:wght@300;400&display=swap");

.heading-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  position: fixed;
  right: 0;
}
